{% extends 'index.html' %}

{% load static %}

{% block 'title' %} Home {% endblock %}

{% block 'body' %}

<section>
    <div class="box-content">
        <div id="top-home">
            <div id="home-presentation">
                <span>Entretenimento para a Educação Científica</span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="box-content">
        <div id="intro-home">
            <h3>O Projeto Cinema com Ciência</h3>
            Trata-se de um Projeto de Extensão, envolvendo os mais variados gêneros cinematográficos e o ensino de Ciências Naturais, por meio de ações pedagógicas em escolas da rede pública de ensino do Estado do Amapá, levando aos alunos e professores da Educação
Básica, possibilidades para se trabalhar com o Cinema, aliando ludicidade, diversão e criatividade ao ensino de Ciências, com vistas ao favorecimento de uma aprendizagem significativa para o aluno e desafiadora ao professor. De maneira geral, a metodologia norteadora da presente
proposta é de abordagem qualitativa. Cada objetivo deverá ser cumprido, buscando-se atingir as
metas propostas para tal. Após a aplicação e execução das ações de extensão, seguidas de
assinatura do TCLE, os dados deverão organizados e analisados mediante análise de conteúdo,
nos termos de Bardin (2011). Relatórios serão elaborados e artigos ou livros, devrão ser
organizados e publicados, com os dados recolhidos ao longo dos anos de execução do Programa.
        </div>
    </div>
</section>

{% endblock %}